@font-face {
    font-family: "Julietta";
    src:url("/portfolio/fonts/Olla_Julietta.ttf") format("opentype");
}

/*  Global */
:root {
    /* App Colors */
    --color-primary: var(--color-black); /* 주된 색상 */
    --color-primary-variant: var(--color-gray); /* 주된 색상 변형된 표현 */
    --color-accent: var(--color-purple); /* 강조하는 색상 */
    --color-accent-variant: var(--color-orange); /* 강조색상 변형된 표현 */
    --color-text: var(--color-white); /* 텍스트 색상 */


    /*  Background */
    --home-bg-gradient: linear-gradient(
        180deg, 
        rgba(101,26,169,1) 0%, 
        rgba(44,36,36,1) 100%
    );

   /* -- home-bg-img:  */
    --home-bg-image: url("../images/header/star.jpg");


    /* Colors */
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-blue: #03e8f9;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;
    --color-green: #D6FF43;
    --color-yellow: #FFBF3C;
    --color-pink: #FE6D79;
    --color-purple: #c87afc;

    /* Size */
    --size-max-width : 1200px;

    /* Divider */
    --divider-sing-wave: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"> <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"></path> </svg>');
    --divider-tilt: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"> <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z"></path> </svg>');
    --divider-arrow: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"> <path d="M649.97 0L550.03 0 599.91 54.12 649.97 0z"></path> </svg>');
}


* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* 스크롤 자연스런 효과*/
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
p,
ul {
    margin: 0; /* 마진 초기화 */
}

ul {
    list-style: none; /* list dot 제거 */
    padding: 0; /* 왼쪽 여백 제거 */
}

a {
    text-decoration: none;
    color: var(--color-text); /* a태그 배경색 설정 */
}

button {
    background-color: transparent; /* 버튼 색상 제거 */ 
    outline: 0;
    border: 0;
}

button:focus {
    outline: 1px solid transparent;
}

/*  Common (공통 적용) */
.section {
    padding: 4rem;
    text-align: center;
}

.max-container { /* 가로로 퍼지지 못하도록 width 값 설정 */
    max-width: var(--size-max-width);
    margin: auto; /* 중앙 정렬 */
}

.title {
    font-size: 2.5rem;
    margin: 1rem 0; /* 상하, 좌우 여백 설정 */
}

.description {
    font-size: 1.3rem;
    margin: 1rem 0;
}

/* Header*/
.header {
    background-color: transparent; 
    position: fixed;
    top: 0; /* 상단 위치에 고정 */
    width: 100%; /* 위 가로줄 전체 크기 잡기 */
    padding: 1rem; /* 로고 왼쪽 내부 여백 설정 */
    display: flex; /* 로고와 nav 나란히 배치할 Flex Box 생성 */
    justify-content: space-between; /* 양 옆(수평) 나란히 배치 */
    align-items: center; /* 아이템 영역 수직 중앙 정렬 */
    z-index: 1;
    transition: all 300ms ease;
}

.header--dark { /* 스크롤 시 다크 동적 스타일링 추가 */
    background-color: var(--color-primary);
    box-shadow: rgba(10, 5, 50, 0.24) 0px 3px 8px;
}

.header__logo {
    display: flex; /* 로고와 nav 요소 수평 정렬 */
    align-items: center; /* 수직 정렬 */
    gap: 8px; /* 이미지와 로고 간격 설정 */
}

.header__logo__img { /* 웹브라우저 성능을 위해선 별도의 클래스명 지정 */
    width: 36px;
    height: 36px;
}

.header__logo__title {
    font-family: "Julietta";
    font-size: 1.8rem; /* rem : 상대적인 unit */
}

.header__toggle {
    display: none; /* 브라우저 상태에선 노출되지 않도록 숨김 */
    color: var(--color-white);
    font-size: 1.5rem;
    position: absolute; /* 기존 flex box 위치에서 벗어나므로 */
    top: 1.3rem;
    right: 1rem;
}

.header__menu {
    display: flex; /* nav 요소 나란히 한줄에 정렬 */
    gap: 4px; /* 요소 사이 간격 설정 */
}

.header__menu__item {
    display: block;
    padding: 8px 16px; /* 패딩 상하, 좌우 여백 설정 */ 
    border : 1px solid transparent; /* 호버 시 밑으로 밀려나지 않기 위해 */
}

.header__menu__item:hover {
    border-bottom: 1px solid var(--color-accent); /* 호버 시 밑줄 효과 */
}

.header__menu__item.active {
    border : 1px solid var(--color-accent); /* 첫 번째 요소 active box 생성 */
    border-radius: 4px; 
}
/* Home */
#home {
    position: relative;
    background-color: var(--color-primary);
     /* background: rgb(101,26,169);
    background: var(--home-bg-gradient); */
    background: var(--home-bg-image);
    color: var(--color-text);
    padding: 5rem 1rem; /* 상하, 좌우 */
    padding-top: 7rem; /* 프로필 이미지와 title 사이 간격 여백 */
    text-align: center;
}

/* Home 헤더 디자인 스타일 */
#home::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(128% + 1.3px);
    height: 147px;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background-color: var(--color-white);
    mask: var(--divider-sing-wave);  /* CSS에서 가상 효과 변수 추가 */
    -webkit-mask: var(--divider-sing-wave);  /* CSS에서 가상 효과 변수 추가 */
}

.home__avatar {
    width: 250px;
    height: 250px;
    object-fit: cover; /* 원본 이미지 비율 유지 */
    border-radius: 100%;
    border: 3px solid var(--color-accent);
}

.home__title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__title__strong {
    color: var(--color-accent);
}

.home__description {
    font-size: 1.3rem;
    margin-bottom: .3rem;
}

.home__contact {
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-black);
    margin: 3rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 4px;
}

.home__contact:hover {
    background-color: transparent;
    color: var(--color-text);
    outline: 3px solid var(--color-accent); /* 테두리 적용 시 컨텐츠 사이즈 영향을 미치지 않기 위해 */

}

/* About */
.majors { /* ul 디자인 클래스 */
    display: flex; /* 전공 한줄 나란히 나열 */
    justify-content: space-between; /* 나란히 간격 조절 */
    gap: 1rem;
    margin: 2.5rem 0;
}

.major { /* li 디자인 클래스 */
    background-color: var(--color-primary-variant);
    padding: 2rem 1rem;
    color: var(--color-text);
    border-radius: 1rem;
    cursor: default; /* 텍스트 커서 제거 */
    box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38); /* box shadow 적용 */
}

.major__tools { /* 협업툴 크기 조절 위해 따로 클래스명 지정 */
    width: 25rem;
    background-color: var(--color-primary-variant);
    padding: 2rem 1rem;
    color: var(--color-text);
    border-radius: 1rem;
    cursor: default; /* 텍스트 커서 제거 */
    box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38); /* box shadow 적용 */
}

.major__icon {
    font-size: 4rem; /* icon 크기 설정 */
    margin: 1rem 0;
    color: var(--color-accent);
    transition: all 300ms ease; /* 회전 애니메이션 적용 시 .3초 자연스럽게 설정 */
}

.major__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.major:hover .major__icon { /* major 애니메이션 적용 */
    transform: rotate(-15deg) scale(1.2); /* icon 호버 시 -15도 기울이기 및 확대 효과 적용*/
}

.major__tools:hover .major__icon { /* Communication-Tools 애니 별도 적용 */
    transform: rotate(-15deg) scale(1.2); 
}

.jobs {
    text-align: start;
}

.job {
    display: flex;
    align-items: center;
    gap: 20px; /* logo와 경력사항 간격 조절 */
    margin-bottom: 1rem;
}

.job__name {
    color: var(--color-primary);
}

.job__period {
    color: var(--color-primary);
    font-size: 0.8rem;
}

.job__logo { /* 로고 이미지 크기 조절 */
    width: 150px;
    height: 50px;
    object-fit: cover; /*원본 이미지 비율 유지*/
}

/* Skills */
#skills {
    position: relative; /* ::after 요소 위치가 절대적이므로 부모 기준점을 상대 위치로 설정 */
    background-color: var(--color-primary-variant);
    color: var(--color-text);
}

/* Skills 헤더 디자인 스타일 */ 
#skills::after {
    content: ''; /* after 가상 요소 쓸 시 한셋트(컨텐츠 내용 공백) */
    position: absolute; /* 위치가 절대적이므로 부모 요소를 상대적으로 설정 */
    top: 0;
    left: 0;
    width: calc(100% + 1.3px);
    height: 46px;
    transform: rotateY(180deg);
    overflow: hidden;
    line-height: 0;
    background-color: var(--color-white);
    mask: var(--divider-tilt);
    -webkit-mask: var(--divider-tilt);
}

.skills {
    display: grid;
    grid-template-columns: 6fr 4fr; /* 6배, 4배 적용 */
    margin: 2rem 3rem;
    border-radius: 8px;
    overflow: hidden; /* 컨테이너 외 벗어날 시 숨기기 */
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 
    0 12.5px 10px rgba(0, 0, 0, 0.06), 
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 
    0 100px 80px rgba(0, 0, 0, 0.12)
}

.skills__title {
    color: var(--color-accent);
    margin: 1rem 0;
    font-size: 1.2rem;
}

.skills__coding {
    grid-row: span 2; /* 2줄 적용*/
    padding: 1rem;
    background-color: var(--color-primary);
}

.skills__tools {
    padding: 1rem;
}

.skills__etc {
    padding: 1rem;
    background-color: var(--color-primary);
    filter: brightness(150%); /* 배경색상을 좀 더 연하게 설정 */
} 

.bar {
    display: flex;
    flex-direction: column; /* Flex Box 수직으로 정렬 */
    padding: 1rem;
    gap: .5rem;
}

.bar__metadata {
    display: flex;
    justify-content: space-between;
}

.bar__bg {
    width: 100%;
    height: 3px;
    background-color: var(--color-primary-variant);
}

.bar__value {
    height: 3px;
    background-color: var(--color-accent);
}

/* Work */
#work {
    background-color: var(--color-white); 
    /* /* color: var(--color-text); */
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 1배율로 4개의 컬럼 생성 */
    grid-template-rows: repeat(2, 1fr); /* 2줄의 행 생성 */
    gap: 1rem;
    margin-top:1.5rem;
}

.project {
    position: relative; /* metadata 기준을 잡기 위해 */
    border-radius: 8px;
    overflow: hidden; /* 내부의 이미지가 삐져 나오지 않도록 조절 */
}

.project__img {
    width: 100%;
}

.project__metadata {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: 0; /* 텍스트 안보이도록 처리 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    transition: all 250ms ease-in; /* 노출 시 자연스러운 회전 설정 */ 
    transform: translateY(-10px); 
}

.project__metadata:hover {
    opacity: 0.8; /* 호버 시 텍스트 불투명도 처리 */
    transform: translateY(0px); /* 호버 시 위아래 스르륵 효과 */
}


.project__title::after { /* HTML에는 없지만 가상 스타일링 지정 */
    content: ''; /* 콘텐츠 내용 없음 */
    display: block; 
    position: relative;
    transform: translateX(-50%);
    margin: .5rem 0;
    left: 50%;
    width: 50px;
    height: 2px;
    background-color: var(--color-accent);
}

/* Arrow up */
.arrow-up {
    background-color: var(--color-primary);
    position: fixed; /* 화살표 위치 고정 */
    bottom: 3rem;
    right: 3rem;
    font-size: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    text-align: center;
    box-shadow: 5px 5px 0px 0px var(--color-accent);
    transition: opacity 300ms ease-in; /* 서서히 화살표 버튼 나오도록 효과 적용 */
}

/* Footer */
#contact {
    position: relative;
    background-color: var(--color-primary);
    color: var(--color-text);
}

/* contact 헤더 디자인 스타일  */
#contact::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 1.3px);
    height: 46px;
    overflow: hidden;
    line-height: 0;
    background-color: var(--color-white);
    mask: var(--divider-arrow);
    -webkit-mask: var(--divider-arrow);
}


.contact__links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 2rem;
}

.contact__link {
    transition: color 250ms ease-in;
}

.contact__link:hover {
    color: var(--color-accent);
}

@media screen and (max-width: 768px) {
    .section {
        padding: 4rem 2rem;
    }
    
    .title {
        font-size: 2rem;
    }
    
    .description {
        font-size: 1rem;
    }

    .header {
        flex-direction: column; /* 로고와 메뉴 수직 정렬 */
        align-items: start; /* 왼쪽으로 정렬 */
        background-color: var(--color-primary);
    }    

    .header__toggle {
        display: block;
    }

    .header__menu {
        display: none; /* toggle 메뉴 위에 숨김 */
        flex-direction: column; /* nav 요소 수직 정렬 */
        text-align: center;
        margin: 1rem 4rem; /* 해당 영역만 클릭하기 위해 */
        gap: 1rem;
    }

    .header__menu.open {
        display: flex;
    }

    .header__nav {
        width: 100%;
    }

    #home {
        padding-bottom: 3.2rem; /* 헤더 밑 여백 줄이기 */
    }
    
    .home__title {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    .majors {
        flex-direction: column; /* 수직으로 하나씩 배열 */
        align-items: center;
    }

    .major {
       max-width: 25rem; 
    }

    .job {
        justify-content: center;
    }

    .skills {
        grid-template-columns: 1fr; /* 그리드 수직 배열 */
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .arrow-up {
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        bottom: 1.5rem;
        right: 1.5rem;
    }
}