/*  Global */
:root {
    /* App Colors */
    --color-primary: var(--color-black); /* 주된 색상 */
    --color-primary-variant: var(--color-gray); /* 주된 색상 변형된 표현 */
    --color-accent: var(--color-blue); /* 강조하는 색상 */
    --color-accent-variant: var(--color-orange); /* 강조색상 변형된 표현 */
    --color-text: var(--color-white); /* 텍스트 색상 */

    /* Colors */
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-blue: #03e8f9;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;

    /* Size */
    --size-max-width : 1200px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
p,
ul {
    margin: 0; /* 마진 초기화 */
}

ul {
    list-style: none; /* list dot 제거 */
    padding: 0; /* 왼쪽 여백 제거 */
}

a {
    text-decoration: none;
    color: var(--color-text); /* a태그 배경색 설정 */
}

/* button {
    background-color: transparent; 버튼 색상 제거 
    outline: 0;
    border: 0;    
} */

/* button:focus {
    outline: 10px solid var(--color-blue);
} */

/*  Common (공통 적용) */
.section {
    padding: 4rem;
    text-align: center;
}

.max-container { /* 가로로 퍼지지 못하도록 width 값 설정 */
    max-width: var(--size-max-width);
    margin: auto; /* 중앙 정렬 */
}

.title {
    font-size: 2.5rem;
    margin: 1rem 0; /* 상하, 좌우 여백 설정 */
}

.description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

/* Header*/
.header {
    background-color: black; /* 영역 구분 확인 어려울 시 배경색 지정 */
    position: fixed;
    top: 0; /* 상단 위치에 고정 */
    width: 100%; /* 위 가로줄 전체 크기 잡기 */
    padding: 1rem; /* 로고 왼쪽 내부 여백 설정 */
    display: flex; /* 로고와 nav 나란히 배치할 Flex Box 생성 */
    justify-content: space-between; /* 양 옆(수평) 나란히 배치 */
    align-items: center; /* 아이템 영역 수직 중앙 정렬 */

}

.header__logo {
    display: flex; /* 로고와 nav 요소 수평 정렬 */
    align-items: center; /* 수직 정렬 */
    gap: 8px; /* 이미지와 로고 간격 설정 */
}

.header__logo__img { /* 웹브라우저 성능을 위해선 별도의 클래스명 지정 */
    width: 36px;
    height: 36px;
}

.header__logo__title {
    font-size: 1.8rem; /* rem : 상대적인 unit */
}

.header__menu {
    display: flex; /* nav 요소 나란히 한줄에 정렬 */
    gap: 4px; /* 요소 사이 간격 설정 */
}

.header__menu__item {
    padding: 8px 16px; /* 패딩 상하, 좌우 여백 설정 */ 
}

.header__menu__item:hover {
    border-bottom: 1px solid var(--color-accent); /* 호버 시 밑줄 효과 */
}

.header__menu__item.active {
    border : 1px solid var(--color-accent); /* 첫 번째 요소 active box 생성 */
    border-radius: 4px; 
}
/* Home */
#home {
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 5rem 1rem; /* 상하, 좌우 */
    padding-top: 7rem; /* 프로필 이미지와 title 사이 간격 여백 */
    text-align: center;
}

.home__avatar {
    width: 250px;
    height: 250px;
    object-fit: cover; /* 원본 이미지 비율 유지 */
    border-radius: 100%;
    border: 3px solid var(--color-accent);
}

.home__title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__title__strong {
    color: var(--color-accent);
}

.home__description {
    font-size: 1.3rem;
    margin-bottom: .3rem;
}

.home__contact {
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-black);
    margin: 2rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 4px;
}

.home__contact:hover {
    background-color: transparent;
    color: var(--color-text);
    outline: 2px solid var(--color-accent); /* 테두리 적용 시 컨텐츠 사이즈 영향을 미치지 않기 위해 */

}

/* About */
.majors { /* ul 디자인 클래스 */
    display: flex; /* 전공 한줄 나란히 나열 */
    justify-content: space-between; /* 나란히 간격 조절 */
    gap: 1rem;
    margin: 2.5rem 0;
}

.major { /* li 디자인 클래스 */
    background-color: var(--color-primary-variant);
    padding: 2rem 1rem;
    color: var(--color-text);
    border-radius: 1rem;
    cursor: default; /* 텍스트 커서 제거 */
    box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38); /* box shadow 적용 */
}

.major__icon {
    font-size: 4rem; /* icon 크기 설정 */
    margin: 1rem 0;
    color: var(--color-accent);
    transition: all 300ms ease; /* 회전 애니메이션 적용 시 .3초 자연스럽게 설정 */
}

.major__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.major:hover .major__icon { /* major 애니메이션 적용 */
    transform: rotate(-15deg) scale(1.2); /* icon 호버 시 -15도 기울이기 및 확대 효과 적용*/
}

.jobs {
    text-align: start;
}

.job {
    display: flex;
    align-items: center;
    gap: 20px; /* logo와 경력사항 간격 조절 */
    margin-bottom: 1rem;
}

.job__name {
    color: var(--color-primary);
}

.job__period {
    color: var(--color-primary);
    font-size: 0.8rem;
}

.job__logo { /* 로고 이미지 크기 조절 */
    width: 150px;
    height: 50px;
    object-fit: cover; /*원본 이미지 비율 유지*/
}